<div class="container-fluid">
  <div class="row" style="background-color:lightgrey;">
    <div class="col">
      <a href=""><img src="../../assets/discord.jpg" width="60"></a>
      <a href="https://twitter.com/Lodesu_KM"><img src="../../assets/twitter.png" width="60"></a>
    </div>
    <div class="col-9" align="center">
      <h1>Krosmunity</h1>
    </div>
    <div class="col">
      <div class="row pull-right" style="margin-right: 0;">
        Language
      </div>
      <div style="clear:both;"></div>
      <div class="row pull-right" style="margin-right: 0;">
        <a><img src="../../assets/fr.png" width="30"></a>
        <a><img src="../../assets/en.png" width="30"></a>
        <a><img src="../../assets/es.png" width="30"></a>
      </div>
    </div>
  </div>
  <div class="row  justify-content-md-center" style="background-color:grey;">
    <div class="col-lg-6 col-md-auto" align="center">
      <a href="/home" class="btn btn-primary waves-light" mdbRippleRadius>
        Home
      </a>
      <div class="btn-group" dropdown>
        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbRippleRadius>
          Expansions
        </button>
        <div class="dropdown-menu dropdown-primary">
          <a class="dropdown-item waves-light" mdbRippleRadius href="#">Standard</a>
          <a class="dropdown-item waves-light" mdbRippleRadius href="#">Necroms and Paladirs</a>
          <a class="dropdown-item waves-light" mdbRippleRadius href="#">Brotherhood of Oropo</a>
        </div>
      </div>
      <div class="btn-group" dropdown>
        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbRippleRadius>
          Resources
        </button>
        <div class="dropdown-menu dropdown-primary">
          <a class="dropdown-item" mdbRippleRadius href="#">Gods</a>
          <a class="dropdown-item" mdbRippleRadius href="/card">Cards</a>
          <a class="dropdown-item" mdbRippleRadius href="#">Pedestals</a>
          <a class="dropdown-item" mdbRippleRadius href="#">Trophies</a>
          <a class="dropdown-item" mdbRippleRadius href="#">Treasures</a>
        </div>
      </div>
    </div>
  </div>
</div>
