<app-header></app-header>

<div class="container" style="margin-top:10px;">
  <div class="row">
    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-8 column-left-side">
          <a class="link-left-side" href="#">
            <div class="img-link-right-side" style="background-image: url(assets/bellaphone.png);"></div>
            <div class="txt-link-left-side">
              <h3 style="text-align: left;">Beginners tips</h3>
              Discover all trick and treatedeed!
            </div>
          </a>
        </div>
        <div class="col-lg-4 column-right-side">
          <a class="link-right-side" href="#">
            <div class="img-link-right-side" style="background-image: url(assets/barbe_monde.png);"></div>
            <div class="txt-link-right-side">Tier list</div>
          </a>
          <a class="link-right-side" href="#">
            <div class="img-link-right-side" style="background-image: url(assets/az.png);"></div>
            <div class="txt-link-right-side">Ladder stat</div>
          </a>
          <a class="link-right-side" href="#">
            <div class="img-link-right-side" style="background-image: url(assets/azraoul.png);"></div>
            <div class="txt-link-right-side">Tournament list</div>
          </a>
        </div>
      </div>
      <div class="row">

        <div class="col-lg-8 column-left-side">
          <a class="link-left-side" href="#">
            <div class="img-link-right-side" style="background-image: url(assets/betty_boubz.png);"></div>
            <div class="txt-link-left-side">
              <h3 style="text-align: left;">Incoming expansion</h3>
              Get to know all new cards!
            </div>
          </a>
        </div>
        <div class="col-lg-4 column-right-side">
          <a class="link-right-side" href="#">
            <div class="img-link-right-side" style="background-image: url(assets/bas_de_laine.png);"></div>
            <div class="txt-link-right-side">Tournament stat</div>
          </a>
          <a class="link-right-side" href="#">
            <div class="img-link-right-side" style="background-image: url(assets/bas_les_pattes.png);"></div>
            <div class="txt-link-right-side">Deckbuilder</div>
          </a>
          <a class="link-right-side" href="#">
            <div class="img-link-right-side" style="background-image: url(assets/bebe_phorreur_armure.png);"></div>
            <div class="txt-link-right-side">Whatever</div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <app-codes></app-codes>
      <app-twitchsearchstream></app-twitchsearchstream>
      <app-news></app-news>
    </div>
  </div>
</div>

