<div class="container">
  <div class="row align-items-center">
    <div class="col-1">
      <mat-checkbox labelPosition=before (change)="resetPage();getFilteredCards()" [(ngModel)]="isSpell"
                    [ngModelOptions]="{standalone: true}">Spell
      </mat-checkbox>
    </div>
    <div class="col-1 selector-title"> OR</div>
    <div class="col-1">
      <mat-checkbox labelPosition=before (change)="resetPage();getFilteredCards()" [(ngModel)]="isMinion"
                    [ngModelOptions]="{standalone: true}">Minion
      </mat-checkbox>
    </div>
    <div class="col-1 selector-title"> AND</div>
    <div class="col-1">
      <mat-checkbox labelPosition=before (change)="resetPage();resetRarity();getFilteredCards()" [(ngModel)]="isToken"
                    [ngModelOptions]="{standalone: true}">Token
      </mat-checkbox>
    </div>
    <div class="col-1 ml-auto selector-title"> God :</div>
    <div class="col-2">
      <mat-form-field>
        <mat-select [(value)]="god" (change)="resetPage();resetRarity();getFilteredCards();">
          <mat-option *ngFor="let god of godList" [value]="god.value">
            {{ god.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-1 selector-title"> Rarity :</div>
    <div class="col-2">
      <mat-form-field>
        <mat-select [(value)]="rarity" (change)="resetPage();resetGod();notToken();getFilteredCards();">
          <mat-option *ngFor="let rarity of rarityList" [value]="rarity.value">
            {{ rarity.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>


  <div class="row align-items-center">
    <div class="col selector-row">
      <div class=" selector-title"> AP :</div>
      <mat-button-toggle-group [(ngModel)]="apValue" (change)="getFilteredCards()">
        <mat-button-toggle [value]="null">All</mat-button-toggle>
        <mat-button-toggle *ngFor="let i of [0,1,2,3,4,5,6]" [value]="i">
          {{i}}
        </mat-button-toggle>
        <mat-button-toggle [value]="7">7+</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="col selector-row">
      <div class=" selector-title"> AT :</div>
      <mat-button-toggle-group [(ngModel)]="atValue" (change)="getFilteredCards()">
        <mat-button-toggle [value]="null">All</mat-button-toggle>
        <mat-button-toggle *ngFor="let i of [0,1,2,3,4,5,6]" [value]="i">
          {{i}}
        </mat-button-toggle>
        <mat-button-toggle [value]="7">7+</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col selector-row">
      <div class="selector-title"> HP :</div>
      <mat-button-toggle-group [(ngModel)]="hpValue" (change)="getFilteredCards()">
        <mat-button-toggle [value]="null">All</mat-button-toggle>
        <mat-button-toggle *ngFor="let i of [1,2,3,4,5,6]" [value]="i">
          {{i}}
        </mat-button-toggle>
        <mat-button-toggle [value]="7">7+</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="col selector-row">
      <div class="selector-title"> MP :</div>
      <mat-button-toggle-group [(ngModel)]="mpValue" (change)="getFilteredCards()">
        <mat-button-toggle [value]="null">All</mat-button-toggle>
        <mat-button-toggle *ngFor="let i of [0,1,2,3,4]" [value]="i">
          {{i}}
        </mat-button-toggle>
        <mat-button-toggle [value]="5">5+</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>

  <div class="row justify-content-center">
    <div
      *ngFor="let card of displayedCards">
      <img src="{{card.imageLink}}">
    </div>
  </div>

  <div class="footer">
    <button mat-mini-fab (click)="pageDown()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-mini-fab (click)="pageUp()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <mat-form-field>
      <mat-select [(value)]="pageContent" (change)="resetPage();getFilteredCards();">
        <mat-option *ngFor="let number of pageContentList" [value]="number.value">
          {{ number.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
