<mat-checkbox labelPosition=before (change)=getFilteredCards() [(ngModel)]="isSpell"
              [ngModelOptions]="{standalone: true}">Spell
</mat-checkbox>
<mat-checkbox labelPosition=before (change)=getFilteredCards() [(ngModel)]="isMinion"
              [ngModelOptions]="{standalone: true}">Minion
</mat-checkbox>
<mat-checkbox labelPosition=before (change)=getFilteredCards() [(ngModel)]="isToken"
              [ngModelOptions]="{standalone: true}">Token
</mat-checkbox>

<mat-form-field>
  <mat-select [(value)]="god" (change)=getFilteredCards()>
    <mat-option *ngFor="let god of godList" [value]="god.value">
      {{ god.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>


<table>
  <tbody>
  <tr>
    <th>Name</th>
    <th>Hp</th>
    <th>Ap</th>
    <th>At</th>
    <th>Mp</th>
    <th>Description</th>
    <th>isSpell</th>
    <th>isToken</th>
  </tr>
  <tr *ngFor="let card of displayedCards">
    <td>{{card.name}}</td>
    <td>{{card.hp}}</td>
    <td>{{card.ap}}</td>
    <td>{{card.at}}</td>
    <td>{{card.mp}}</td>
    <td><p [innerHTML]=card.description></p></td>
    <td>{{card.isSpell}}</td>
    <td>{{card.isToken}}</td>
  </tr>
  </tbody>
</table>
