.sc-live-indicator {
  height: .8rem;
  width: .8rem;
  border-radius: .4rem;
  display: inline-block;
  background: #ec1313;
}

.name_twitch {
  font-size: 1.5em;
  margin-left: 5px;
  margin-bottom: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

.link_stream {
  display: flex;
  width:100%;
  align-items: center;
}

.link_stream:hover {
  background-color: rgba(211,211,211,0.5);
}

.viewers {
  position:absolute;
  right:15px;
}

.row_stream {
  color: white;
  margin-left: 0px;
}

.div_stream {
  margin-top: 10px;
}
